alabaster
appdirs
attrs
Babel
bcc
beautifulsoup4
blinker
Brotli
certifi
chardet
click
click-plugins
colorama
command-not-found
configobj
contextlib2
contourpy
cryptography
cssselect
cycler
dbus-python
decorator
distro
distro-info
docutils
editables
fonttools
fs
gyp
hatch-requirements-txt
hatchling
html5lib
httplib2
idna
imagesize
Jinja2
jsonpatch 
jsonpointer
jsonschema
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lxml
lz4
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib 
mdurl
mpmath
munkres
netaddr
netifaces
networkx
numpy
oauthlib
olefile
packaging
pathspec
pillow
pluggy
py
pybind11
pycairo
pygccxml
Pygments
PyGObject
PyJWT
PyOpenGL
pyparsing
PyQt-Qwt
PyQt5
PyQt5-sip
PyQt6
PyQt6-sip
pyqtgraph
pyrsistent
pyserial
python-apt
python-dateutil
pytz
PyYAML
pyzmq
requests
rich
roman
ruamel.yaml
ruamel.yaml.clib
schema
SciPy
setuptools
six
snowballstemmer
soupsieve
Sphinx
sympy
thrift
trove-classifiers
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufoLib2
ufw
unattended-upgrades
unicodedata2
urllib3
wadllib
webencodings
wheel
xkit
fastapi
uvicorn
chromadb
python-dotenv
sentence-transformers
langchain
langchain-community
transformers
huggingface-hub
xrpl-py